#top #top-brand span, #top #top-brand a {
  text-decoration: none;
  font-weight: bold;
  font-size: 120%;
  background: none;
  text-indent: -9999px;
  width: 70px;
  line-height: 11px;
  background-repeat: no-repeat;
}

#footer nav ul li span a { color: rgba(0, 0, 0, 0.3); }

img.outline { border: 1px solid #CDCDCD }
span.author a { text-decoration: none }

